<div class="container d-flex flex-column p-3">
<div class="form-group">
  <%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
</div>
</div>
